PORT=4000
CORS_ORIGIN=*
URL_MONGO_DB=
MONGO_DB_NAME=travel_app
AI_KEY=
AI_PROVIDER_URL=https://openrouter.ai/api/v1/chat/completions
AI_MODEL=openai/gpt-4o-mini
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVICE=gmail
MAIL_FROM=
