PORT=
CORS_ORIGIN=
URL_MONGO_DB=
MONGO_DB_NAME=
AI_KEY=
AI_PROVIDER_URL=
AI_MODEL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVICE=
MAIL_TIMEOUT_MS=

MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_REQUIRE_TLS=
MAIL_DNS_FAMILY=
MAIL_FROM=
KEY_RESEND_VERIFICATION_EMAIL=
RESEND_FROM_EMAIL=
